body { background-color: #fdfcfc;}
h3 {color: black;}
header {
    margin-right: 7%;
    text-align: center;
}
h2 {
    text-align: left;
    padding: 10px 10px 10px 15%;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}
p {
    /*margin-left: 15%;*/
    /*margin-right: 20%;*/
    text-align: justify;
}
nav {
    float: left;
    max-width: 100%;
    /*margin-right: 15%;*/
    padding: 1em;
}
article {
    margin-left: 15%;
    /*margin-right: 15%;*/
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    text-align: left;
}
div.toDO {
    background-color: #f1f1f1;
    color: #007FFF;
    /*text-align: justify;*/
    text-align: left;
    padding: 10px 10px 10px 10%;
    margin-left: 15%;

}
div.result {
    background-color: #c1c1c1;
    color: white;
    padding: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

